.login {
    margin: 100px auto;
    max-width: 400px;
    text-align: center;
    padding: 40px 30px;
    border-radius: 30px;
    background: #f9f9fa;
    box-shadow: 20px 20px 40px #d4d4d5, -20px -20px 40px #ffffff;
}

.login__title {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    margin: 10px 0px;
    display: block;
}

.login__error {
    margin-bottom: 10px;
}

.login__input {
    margin-bottom: 14px;
    padding: 0px 30px;
}

.login__input:last-child {
    margin-bottom: 0px;
}

.login__login-input, .login__password-input {
    display: block;
    width: 100%;
    border: 1px #111111 solid;
    border-width: 0px 0px 2.3px 0px;
    background: local;
    font-size: 18px;
    border-collapse: collapse;
}

.login__login-input:focus, .login__password-input:focus {
    border-color: green;
}

.login__confirm {
    margin-top: 30px;
    color: white;
    background: green;
    border-radius: 20px;
    padding: 10px 30px;
    display: block;
    width: 100%;
    font-size: 18px;

}

/* .login__confirm:active {
    color: white;
    box-shadow: none;
    background: darkblue;
    transition: 1s;
} */

/* .login__login-input {

} */
